.btn{
    width: 200px;
    font-size: 24px;
    height: auto;
    background-color: #8a050b;
    color: white;
    padding: 10px  14px;
    border-radius: 0;
}

.card {
    box-shadow: 0 6px 10px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin: 10px;
    border-radius: .5rem;
    cursor: pointer;
}

.card-image{
    width: 92%;
    margin: auto;
    margin-top: 6px;
}
  
.card:hover {
    box-shadow: 0 6px 20px 5px rgb(245, 226, 54);;
}

.card .title{
    color:#000;
    margin: 5px;
}
.container {
padding: 2px 16px;
}